body {
  margin: 0 0 0 0;
}
nav {
  margin-bottom: 50px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #083946;
}

nav li {
  display: inline-block;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
    background-color: black;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table td:last-of-type, table th:first-of-type {
  border-left: 0px;
}

table td:last-of-type, table th:last-of-type {
  border-right: 0px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #083946;
  color: white;
}

.subhead {
  font-size: 1.75em ;
  margin-top:0px;
}
.container {
  text-align:center;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}
